.section {
  height: 100%;
  overflow-x: hidden;
}
.title {
  text-align: center;
  font-size: 40px;
  font-family: "DM Serif Text", serif;
  color: #ffd84c;
  margin: 3vh 0 8vh 0;
}

.academics {
  margin: 8vh 0;
  height: 100%;
  padding: 1vh 1vw;
  position: relative;
}
.info {
  width: 40%;
  margin: 8vh auto;
  font-size: 19px;
  text-align: center;
}
.info p {
  margin: 50px 0;
}
.info > a > button {
  padding: 9px 12px;
  color: #dedede;
  background-color: #191919;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 10vh;
}
.info i {
  color: #dedede;
  margin-right: 10px;
}
.info > a {
  width: 100%;
  margin: auto;
}
.info button:hover {
  cursor: pointer;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 40vh;
  background-color: #191919;
  padding: 3vw 1vw;
  border-radius: 15px;
}
.card > h3,
.card > p {
  text-align: center;
}
.stccard {
  top: 10%;
  left: 2%;
}
.ymcard {
  top: 10%;
  right: 2%;
}
.separator {
  width: 60%;
  margin: 10vh auto;
  height: 5px;
  border-radius: 10px;
  background-color: #191919;
  border-color: #191919;
}
.desc {
  width: 50%;
  height: 100%;
  padding: 5vh 4vw;
  margin: 10vh auto;
  background-color: #191919;
  position: relative;
  border-radius: 20px;
  text-align: center;
}
.desc > img {
  position: absolute;
  border-radius: 25px;
}
.desc > p {
  font-family: "Cantarell", sans-serif;
  font-size: 22px;
  margin: 5vh 0;
}
@media screen and (min-width: 786px) {
  .card img {
    height: 120px;
    width: 120px;
    margin: 5vh 0;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .vacation1 {
    width: 170px;
    height: 170px;
    top: -10%;
    left: -30%;
  }
  .vacation2 {
    width: 120px;
    height: 120px;
    top: 60%;
    left: -15%;
  }
  .hmu {
    width: 100px;
    height: 100px;
    top: -10%;
    right: -5%;
  }
  .reading {
    width: 180px;
    height: 180px;
    top: 30%;
    right: -40%;
  }
  .movies {
    width: 130px;
    height: 130px;
    top: 80%;
    right: -10%;
  }
}

@media screen and (max-width: 786px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .info {
    width: 100%;
  }
  .academics > div {
    width: 80%;
    background-color: #191919;
    padding: 4vh;
    margin: 5vh auto;
    border-radius: 10px;
  }
  .academics > div > div {
    margin: 25px 0;
  }
  .academics > div > p {
    font-size: 17px;
  }
  .academics > div > div > img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
  }
  .info > a > button {
    margin-top: 0;
  }
  .desc {
    width: 80%;
  }
  .desc > p {
    font-size: 19px;
  }
  .desc > img {
    border-radius: 10px;
  }
  .vacation1 {
    width: 70px;
    height: 70px;
    top: -10%;
    left: 10%;
  }
  .vacation2 {
    display: none;
  }
  .hmu {
    width: 100px;
    height: 100px;
    top: -10%;
    right: -5%;
  }
  .reading {
    width: 60px;
    height: 60px;
    top: 85%;
    right: -5%;
  }
  .movies {
    width: 100px;
    height: 100px;
    top: 90%;
    left: 5%;
  }
}
