.section {
  height: 100%;
}
.title {
  text-align: center;
  font-size: 40px;
  font-family: "DM Serif Text", serif;
  color: #ffd84c;
  margin: 3vh 0 8vh 0;
}

.desc > div > p {
  font-family: "Cantarell", sans-serif;
  font-size: 19px;
}
.academics {
  margin: 8vh 0;
  height: 100%;
  padding: 1vh 1vw;
  position: relative;
}
.info {
  width: 40%;
  margin: 8vh auto;
  font-size: 19px;
  text-align: center;
}
.info p {
  margin: 50px 0;
}
.info > a > button {
  padding: 9px 12px;
  color: #dedede;
  background-color: #191919;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 10vh;
}
.info i {
  color: #dedede;
  margin-right: 10px;
}
.info > a {
  width: 100%;
  margin: auto;
}
.info button:hover {
  cursor: pointer;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 40vh;
  background-color: #191919;
  padding: 3vw 1vw;
  border-radius: 15px;
}
.card > h3,
.card > p {
  text-align: center;
}
.stccard {
  top: 10%;
  left: 2%;
}
.ymcard {
  top: 10%;
  right: 2%;
}
.separator {
  width: 60%;
  margin: 10vh auto;
  height: 5px;
  border-radius: 10px;
  background-color: #191919;
  border-color: #191919;
}
@media screen and (min-width: 786px) {
  .desc {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  .desc > div {
    padding: 10vh 3vw;
    border-radius: 15px;
    width: 28%;
  }
  .card img {
    height: 120px;
    width: 120px;
    margin: 5vh 0;
  }
  .card1 {
    position: absolute;
    top: 0;
    left: -10px;
    background-color: #181818;
  }
  .card2 {
    position: absolute;
    top: 25%;
    right: -10px;
    background-color: #181818;
  }
  .card3 {
    position: absolute;
    bottom: 0;
    left: 20%;
    background-color: #181818;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 786px) {
  .desc {
    height: 100%;
  }
  .desc > div {
    position: relative;
    width: 100%;
    margin: 4vh 0;
    height: 60vh;
    background-color: #191919;
  }
  .desc > div > p {
    padding: 10vw;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .info {
    width: 100%;
  }
  .academics > div {
    width: 80%;
    background-color: #191919;
    padding: 4vh;
    margin: 5vh auto;
    border-radius: 10px;
  }
  .academics > div > div {
    margin: 25px 0;
  }
  .academics > div > p {
    font-size: 17px;
  }
  .academics > div > div > img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
  }
  .info > a > button {
    margin-top: 0;
  }
}
