.section {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #101010;
  padding: 5vh 10vw;
  position: relative;
}
.section > div {
  margin: 2vh 0;
}
.section div div i {
  margin-right: 10px;
  font-size: 22px;
}
.credits {
  position: absolute;
  bottom: 1%;
  left: 0%;
  font-size: 14px;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
}
.credits i {
  color: red;
  font-size: 16px;
  margin: 0 5px;
}
.info div {
  margin: 3vh 0;
  font-size: 15px;
}
.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh !important;
}
.links > div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 2vh 0;
}
@media screen and (min-width: 786px) {
  .section {
    position: relative;
    height: 10vh;
  }
  .info {
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 50%;
  }
  .links {
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 18%;
  }
}
