.container {
  padding: 10vh 0;
  display: flex;
  height: 80vh;
  justify-content: center;
}
.intro {
  padding-top: 30vh;
  font-size: 22px;
  flex-grow: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 35px;
}
.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 72px;
  margin-bottom: 10vh;
}
.brief {
  font-size: 25px;
}
.mypic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypic img {
  width: 25vw;
  height: 25vw;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 90vh;
  }
  .intro {
    padding-top: 10vh;
    font-size: 25px;
  }
  .mypic {
    padding-top: 9vh;
    display: flex;
    justify-content: center;
  }
  .mypic img {
    width: 250px;
    height: 250px;
  }
  .name {
    font-size: 6vh;
  }
}
