.navbar {
  display: flex;
  height: 11vh;
  width: 100%;
  background-position: 10% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.picture {
  color: black;
  padding: 5px 30px;
  font-family: "DM Serif Text", serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70%;
}
.links a {
  margin: 10px 30px;
  color: black;
  font-family: "DM Serif Text", serif;
  font-size: 20px;
}
.resume {
  font-size: 17px !important;
  color: rgb(231, 231, 231) !important;
  background-color: rgb(0, 0, 0);
  padding: 5px 13px;
  border-radius: 10px;
  font-family: Calibri !important;
}
.resume i {
  margin-right: 10px;
  color: rgb(231, 231, 231);
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 7vh;
  }
  .picture {
    font-size: 20px;
    padding: 10px 10px;
  }
  .links a {
    margin: 10px;
    font-size: 17px;
  }
  .resume {
    font-size: 13px !important;
    padding: 8px 13px;
    width: 25%;
  }
}
