.section {
  padding: 15vh 0;
}
.section > p {
  width: 50%;
}
.subtitle {
  margin-top: 5vh;
  font-weight: 600;
}
.cardcontainer {
  display: flex;
  margin: 30vh 0;
  padding: 0 5vw;
}
.firsthalf {
  width: 50%;
}
.secondhalf {
  width: 50%;
}
